<div class="row">
    <div class="large-12 columns">
        <h2 class="background"><span>EDIT SALARY</span></h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <section data-bind="with: salary">
            <fieldset>
                <h4 data-bind="text: person().firstName() + ' ' + person().lastName() + ' | ' + person().id()"></h4>

                <div class="row">
                    <div class="large-3 columns">
                        <p data-bind="text: 'Starting salary: ' + formattedTotalAmount()"></p>
                    </div>

                    <div class="large-3 columns" data-bind="if: adminAmount() > 0">
                        <p data-bind="text: 'Admin: ' + formattedAdminAmount()"></p>
                    </div>

                    <div class="large-3 columns" data-bind="if: eminentAmount() > 0">
                        <p data-bind="text: 'Eminent: ' + formattedEminentAmount()"></p>
                    </div>

                    <div class="large-3 columns" data-bind="if: promotionAmount() > 0">
                        <p data-bind="text: 'Promotion and tenure: ' + formattedPromotionAmount()"></p>
                    </div>
                </div>

                <div class="row hide-on-print" data-bind="ifIsInRole: 'update-person'">
                    <div class="large-4 columns end">
                        <label>
                            Status
                        </label>
                        <select data-bind="options: $parent.statusTypes,
                            optionsValue: 'id', optionsText: 'name', optionsCaption: 'Choose...', value: person().statusTypeId"></select>
                    </div>
                </div>

                <div class="row hide-on-print">
                    <div class="large-4 columns">
                        <label>
                            Classification
                        </label>
                        <select data-bind="options: $parent.facultyTypes,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: 'Choose...', value: facultyTypeId"></select>
                    </div>

                    <div class="large-4 columns">
                        <label>
                            Rank
                        </label>
                        <select data-bind="options: $parent.rankTypes,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: 'Choose...', value: rankTypeId"></select>
                    </div>

                    <div class="large-4 columns">
                        <label>
                            Appointment
                        </label>
                        <select data-bind="options: $parent.appointmentTypes,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: 'Choose...', value: appointmentTypeId"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <label class="hide-on-print">
                            Title
                            <input name="Title" type="text" class="hide-on-print" data-bind="value: title" />
                        </label>
                        <p class="print-only">
                            <span class="text-underline">Title</span>: <span data-bind="text: title"></span>
                        </p>
                    </div>

                    <div class="large-4 columns">
                        <label class="hide-on-print">
                            Full-time equivalent<span class="required">*</span>
                            <input type="text" class="hide-on-print" data-bind="value: fullTimeEquivalent" />
                        </label>
                        <p class="print-only">
                            <span class="text-underline">FTE</span>: <span data-bind="text: fullTimeEquivalent"></span>
                        </p>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h4>Funding</h4>

                <div class="row">
                    <div class="large-12 columns">
                        <ul data-bind="foreach: $parent.employments">
                            <li data-bind="text: $data"></li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h4 data-magellan-destination="merit">Merit adjustment</h4>

                <div class="row">
                    <div class="large-4 columns end">
                        <label class="hide-on-print">
                            Amount<span class="required">*</span>
                            <input type="text" class="hide-on-print"
                                   data-bind="value: formattedMeritIncrease" />
                        </label>
                        <p class="print-only">
                            <span class="text-underline">Amount</span>: <span data-bind="text: formattedMeritIncrease"></span>
                        </p>
                    </div>
                </div>

                <div class="row hide-on-print">
                    <div class="large-4 columns end">
                        <label>
                            Adjustment reason
                            <span class="required">*</span>
                        </label>
                        <select data-bind="options: $parent.meritAdjustmentTypes,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: 'Choose...', value: meritAdjustmentTypeId"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label class="hide-on-print">
                            Brief description of the adjustment
                            <span class="required" data-bind="visible: isMeritAdjustmentNoteRequired">*</span>
                            <textarea class="hide-on-print"
                                      data-bind="value: meritAdjustmentNote"></textarea>
                        </label>
                        <p class="print-only">
                            <span class="text-underline">Brief description of the merit adjustment</span>
                        </p>
                        <p class="print-only" data-bind="text: meritAdjustmentNote"></p>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h4>Special adjustment</h4>

                <div class="row">
                    <div class="large-4 columns end">
                        <label class="hide-on-print">
                            Amount<span class="required">*</span>
                            <input type="text" class="hide-on-print"
                                   data-bind="value: formattedSpecialIncrease" />
                        </label>
                        <p class="print-only">
                            <span class="text-underline">Amount</span>: <span data-bind="text: formattedSpecialIncrease"></span>
                        </p>
                    </div>
                </div>

                <div class="row hide-on-print">
                    <div class="large-4 columns end">
                        <h5>
                            Adjustments
                            <span class="required" data-bind="visible: isSpecialAdjustmentNoteRequired">*</span>
                        </h5>
                        <!-- ko foreach: $parent.adjustmentVMs -->
                        <div>
                            <label>
                                <input type="checkbox" data-bind="checkedValue: adjustment, checked: isSelected" /> <span data-bind="text: adjustment.name"></span>
                            </label>
                        </div>
                        <!--/ko-->
                        <span class="error" data-bind="validationMessage: specialSalaryAdjustments"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label class="hide-on-print">
                            Brief description of the adjustment
                            <span class="required" data-bind="visible: isSpecialAdjustmentNoteRequired">*</span>
                            <textarea class="hide-on-print"
                                      data-bind="value: specialAdjustmentNote"></textarea>
                        </label>
                        <p class="print-only">
                            <span class="text-underline">Brief description of the special adjustment</span>
                        </p>
                        <p class="print-only" data-bind="text: specialAdjustmentNote"></p>
                    </div>
                </div>
            </fieldset>

            <section data-bind="ifIsInRole: 'update-person'">
                <fieldset>
                    <h4>Promotion and tenure</h4>

                    <div class="row">
                        <div class="large-4 columns end">
                            <label class="hide-on-print">
                                Amount<span class="required">*</span>
                                <input type="text" class="hide-on-print"
                                       data-bind="value: formattedPromotionAmount" />
                            </label>
                            <p class="print-only">
                                <span class="text-underline">Amount</span>: <span data-bind="text: formattedPromotionAmount"></span>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </section>

            <div class="row">
                <div class="large-12 columns">
                    <span class="save-button" data-bind="click: $parent.saveChanges">Save</span>
                    <span class="cancel-button" data-bind="click: $parent.cancelChanges">Cancel</span>
                </div>
            </div>
        </section>
    </div>
</div>
