<div class="row">
    <div class="large-12 columns">
        <h4 class="view-heading">Employees</h4>
    </div>
</div>

<div class="row">
    <div class="large-4 columns end">
        <label for="Unit">
            Department
        </label>
        <select data-bind="value: selectedDepartmentId">
            <option disabled="disabled" hidden="hidden" selected="selected">Choose...</option>
            <!-- ko foreach: units -->
            <optgroup data-bind="attr: { label: name }, foreach: departments">
                <option data-bind="attr: { label: name, value: id }, text: name"></option>
            </optgroup>
            <!--/ko-->
        </select>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table class="tabular" data-bind="if: salaries().length > 0">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Rank
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Merit
                    </th>
                    <th>
                        Special
                    </th>
                    <th>
                        Eminent
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Change
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: salaries">
                <tr>
                    <td>
                        <a data-bind="attr: { href: 'salaries/edit/' + id() }, text: person().fullName"></a>
                    </td>
                    <td data-bind="text: rankTypeId"></td>
                    <td data-bind="text: totalAmount"></td>
                    <td data-bind="text: meritIncrease"></td>
                    <td data-bind="text: specialIncrease"></td>
                    <td data-bind="text: eminentIncrease"></td>
                    <td data-bind="text: newTotalAmount"></td>
                    <td data-bind="text: percentIncrease"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
