<div class="row">
    <div class="large-12 columns">
        <h2 class="background"><span>SEARCH SALARIES</span></h2>
    </div>
</div>

<div class="row">
    <div class="large-8 columns end">
        <label>
            Search for faculty members' salaries
            <input type="text" placeholder="Search"
                   data-bind="value: instantaneousSearchString, valueUpdate: 'afterkeydown'">
        </label>
    </div>
</div>

<div class="row" data-bind="if: searchResults().length > 0 && throttledSearchString().length > 0">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th class="hide-for-small-down">
                        Rank
                    </th>
                    <th class="hide-for-small-down">
                        Salary
                    </th>
                    <th class="hide-for-small-down">
                        Merit
                    </th>
                    <th class="hide-for-small-down">
                        Special
                    </th>
                    <th class="hide-for-small-down">
                        Eminent
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Change
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: searchResults">
                <tr>
                    <td>
                        <a data-bind="attr: { href: 'salaries/edit/' + id() }, text: person().firstName() + ' ' + person().lastName()"></a>
                    </td>
                    <td class="hide-for-small-down" data-bind="text: rankType().name"></td>
                    <td class="hide-for-small-down" data-bind="text: formattedTotalAmount"></td>
                    <td class="hide-for-small-down" data-bind="text: formattedMeritIncrease"></td>
                    <td class="hide-for-small-down" data-bind="text: formattedSpecialIncrease"></td>
                    <td class="hide-for-small-down" data-bind="text: formattedEminentIncrease"></td>
                    <td data-bind="text: formattedNewTotalAmount"></td>
                    <td data-bind="text: formattedPercentIncrease"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" data-bind="if: searchResults().length === 0 && throttledSearchString().length > 0">
    <div class="large-12 columns">
        No records
    </div>
</div>