.call-to-action {
	background: $call-to-action-bg;
	color: $call-to-action-font-color;
	padding: emCalc(25px) 0;

	h4, a {
		color: $call-to-action-font-color;
	}

	a {
		text-decoration: none;

		&:hover {
			color: $call-to-action-font-color;
			text-decoration: none;
		}
	}

	.columns {
		font-size: 80%;
	}
}