.checkout {
	margin-bottom: emCalc(20px);

	.checkout-header {
		background: #fff;
		border-bottom: 1px solid silver;
		padding-top: emCalc(10px);
		text-align: center;

		@media #{$small-only} {
			p {
				font-size: 0.8em;
			}
		}
	}

	.checkout-data {
		background: whitesmoke;
		padding: 1.5rem 0.9375rem;

		span.postfix {
			border-right: none;
		}

		ul {
			margin: 0;

			.fa {
				font-size: 1.25em;
			}

			@media #{$medium-up} {
				.fa {
					font-size: 1.5em;
				}
			}
		}

		.buttons-row {
			margin-top: 1rem;
		}
	}
}

