footer {
	background: $footer-bg;

	.footer {
		.columns {
			color: $body-font-color;
			font-size: 75%;

			h4 {
				color: $header-font-color;
				//text-transform: uppercase;
			}
		}
	}

	.copyright {
		border-top: #ccc 1px solid;
		margin-top: emCalc(15px);
		padding: emCalc(15px) 0;

		.columns {
			color: $body-font-color;
			font-size: 70%;
		}

        .small-attribution {
            margin-top: emCalc(8px);
        }
	}
}