select {
    background-color: $content-elements-bg;
    color: $body-font-color;
    margin-bottom: 2em;

    &:hover {
        background-color: scale-color($content-elements-bg, $lightness: -10%);
    }
}

select.error {
    margin-bottom: 0 !important;
}