table {
    border-collapse: separate; 

    thead, .thead { 
        background-color: $content-elements-bg;

        tr {
            th, td {
                color: $body-font-color;
            }
        }
    }

    tbody.department-heading {
        background-color: $maroon;

        tr {
            td {
                color: $body-font-color;
            }
        }
    }
}
