<div class="contain-to-grid hide-on-print">
    <nav class="top-bar" data-topbar data-options="is_hover: false" role="navigation">
        <ul class="title-area">
            <li class="name">
            </li>
            <li class="toggle-topbar"><a><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left" data-bind="foreach: router.navigationModel">
                <li class="menu-item" data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: $parent.router.convertRouteToHash('/' + hash) }, text: title"></a>
                </li>
            </ul>
        </section>
    </nav>
</div>

<div class="row view-background">
    <div class="large-12 columns">

        <section id="content" data-bind="router: { transition: 'scrollers', cacheViews: true }"></section>

        <div id="timeoutModal" class="small reveal-modal" data-options="closeOnBackgroundClick: false">
            <h4>Your session is about to timeout.</h4>
            <p>
                You will be logged out in <span class="counter"></span> seconds. Click continue to
                extend your session.
            </p>

            <span class="text-button button-close-reveal-modal">Continue</span>

            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>
