<div class="row">
    <div class="large-12 columns">
        <h2 class="background"><span>EDIT USER</span></h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <section data-bind="with: user">
            <fieldset>
                <h4>User information</h4>

                <div class="row">
                    <div class="large-5 columns end">
                        <span data-bind="text: 'Pid: ' + pid()"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h4>Roles</h4>

                <div class="row">
                    <div class="large-12 columns">
                        <!-- ko foreach: $parent.assignmentVMs -->
                        <div>
                            <label>
                                <input type="checkbox" data-bind="checkedValue: role, checked: isSelected" />
                                <span data-bind="text: role.name"></span>
                            </label>
                        </div>
                        <!--/ko-->
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="large-12 columns">
                    <span class="text-button" data-bind="click: $parent.saveChanges">Save</span>
                    <span class="cancel-button" data-bind="click: $parent.cancelChanges">Save</span>
                </div>
            </div>
        </section>
    </div>
</div>
