<div class="row">
    <div class="large-12 columns">
        <h2 class="background"><span>EDIT EMPLOYMENTS</span></h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <section data-bind="foreach: employmentVMs">
            <div class="row" data-bind="ifIsInRole: 'manage-all'">
                <div class="large-12 columns">
                    <h5 data-bind="text: unit.name"></h5>

                    <!-- ko foreach: departments -->
                    <div>
                        <label>
                            <input type="checkbox" data-bind="checkedValue: name, checked: isSelected" />
                            <span data-bind="text: department.name"></span>
                        </label>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </section>

        <section data-bind="with: employmentVMs">
            <div class="row">
                <div class="large-12 columns">
                        <span class="save-button" data-bind="click: $parent.saveChanges">Save</span>
                </div>
            </div>
        </section>
    </div>
</div>
